backend:
  name: github
  repo: mohammadi7162/aura-noir   # با یوزرنیم و ریپوی واقعی خودت جایگزین کن
  branch: main
  base_url: https://aura-noir-cms-auth.mohammadi-7162.workers.dev
  auth_endpoint: /auth

media_folder: "static/uploads"
public_folder: "/uploads"

collections:
  - name: "posts"
    label: "Posts"
    folder: "posts"
    create: true
    slug: "{{slug}}"
    fields:
      - { name: "title", label: "Title", widget: "string" }
      - { name: "date", label: "Date", widget: "datetime" }
      - { name: "body", label: "Body", widget: "markdown" }
